@import './variables';

body {
    margin-top: 0 !important;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif !important;
    background-color: var(--secondary-background-color) !important;

    .theme-dark {
        .border {
            border: 1px solid #384252 !important;
        }
    }
}

body.theme-dark {
    background-color: var(--primary-bg-color-dark) !important;
    .pagination-btn {
        color: #e4e6e9;
    }
}

.employee-profile-header .profile .profile-picture-container {
    margin-right: 0 !important;
}

.cancel-category {
    background-color: #a4aab2 !important;
}

.ql-container.ql-snow {
    border: none !important;
}

.ql-toolbar.ql-snow {
    border: none !important;

    .ql-formats:not(:last-child) {
        position: relative;
    }

    .ql-formats:not(:last-child)::before {
        position: absolute;
        content: '';
        right: -9px;
        top: 4px;
        width: 1px;
        height: 16px;
        background-color: #c6d0d8;
    }
}

.ql-editor.ql-blank::before {
    font-style: normal !important;
    color: #a7a6a6 !important;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

.ql-container.ql-snow:hover {
    .ql-editor.ql-blank::before {
        color: #9e9e9e !important;
    }
}

.outer {
    height: 80vh;
    width: 50vw;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 10;
    padding: 0 !important;

    .parent {
        height: 100% !important;
    }

    .minimize-editor-header {
        background-color: #505661;
    }

    .ki-collapse {
        transform: rotate(45deg);
    }

    .editor {
        height: calc(100% - 34px);
        border-radius: 0 0 4px 4px !important;
    }
}

.container {
    padding: 12px;

    .parent {
        height: 160px;
        position: relative;
    }
    .ki-expand {
        transform: rotate(-45deg);
    }
}

.editor {
    height: 100%;
    border: 1px solid var(--primary-border-color);
}

.selected-question {
    background-color: var(--selected-bg-color);
    border-right: 4px solid var(--primary-color) !important;
}

.ki-send {
    position: absolute;
    bottom: 8px;
    right: 10px;
}

.ki-expand {
    z-index: 10;
    position: absolute;
    right: 10px;
    top: 8px;
}

.btn,
.save-category {
    background-color: var(--primary-color);
}

.users-page {
    width: 80vw;
}

.ki-thumb-down-fill,
.ki-thumb-down {
    transform: scaleX(-1);
}

.category-card,
.card {
    border: 1px solid var(--primary-border-color) !important;
}

.questions-count {
    border-top: 1px solid var(--primary-border-color) !important;
}

.card .vstack:not(:last-child) {
    border-right: 1px solid var(--primary-border-color) !important;
}

.ans-btn {
    line-height: 15px;
    padding: 1px 6.5px 2.5px 6.5px;
    margin-top: 1px;
    border: 1px solid var(--primary-border-color) !important;
}

.views {
    margin-bottom: 1px;
}

//home questions
.answers-list {
    border-left: 1px solid var(--primary-border-color);
}

.home-question::after {
    position: absolute;
    content: '';
    border-top: 25px solid var(--success-color);
    border-right: 25px solid transparent;
    top: 0;
    left: 0;
}

.question-status {
    color: var(--success-color) !important;
}

//top nav
.topnav.nav {
    box-shadow: 3px 0 6px 0 var(--input-border-color);
}

//user profile card
.app-container .employee-profile-card .employee-profile-header .employee-details > span {
    margin-bottom: 0 !important;
    line-height: 18px !important;
}

.topnav.nav {
    background-color: var(--secondary-bg-color) !important;
    border: none !important;
}

.modal .modal-content {
    background-color: var(--primary-background-color) !important;
}
.theme-dark {
    .employee-profile-card .employee-profile-header:hover {
        box-shadow: 0 0 10px 2px #384252;
    }

    .bg-slate-10 {
        background-color: #273143 !important;
    }

    .bg-secondary {
        background-color: var(--primary-bg-color-dark) !important;
    }

    .bg-white,
    .card,
    .sub-topnav.nav {
        background-color: #273143 !important;
    }

    .employee-profile-card .employee-profile-header .employee-details {
        color: white !important;
    }

    .border-bottom {
        border-bottom: 1px solid var(--primary-border-color) !important;
    }

    .modal-header {
        background-color: #1b2531 !important;
        border-bottom: none !important;
    }
}

.navbar .page-header-left .dropdown-menu {
    right: -6px !important;
}

.category-card {
    min-height: 162px;
    &:hover {
        box-shadow: 0 0 10px 2px var(--input-border-color);
    }
}

.login {
    width: 400px;
}

.activate-item:active {
    .ki,
    .text-secondary {
        color: white !important;
    }
    color: white !important;
}

.gradient-background {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right, #6352ec, #be69c6);
}

.fileInput {
    visibility: hidden;
}

.ng-http-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.scrollable {
    height: 26px;
    max-width: 120px;
    overflow-x: hidden;
    white-space: nowrap;
}

.scrollable:hover {
    overflow-x: auto;
}

.scrollable::-webkit-scrollbar {
    height: 2px;
}

.scrollable::-webkit-scrollbar-thumb {
    box-shadow: none !important;
}

.scrollable::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

.employee-profile-header .profile.profile-60 .profile-picture {
    font-size: 12px !important;
}
.circle-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #ccc;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }