<nav role="navigation" class="left-nav left-nav-body left-nav-fixed-top">
    <ul id="accordion" class="navbar-nav">
        <li routerlinkactive="active" class="nav-item active">
            <a class="vstack align-items-center pb-8">
                <img ngSrc="../../../assets/forum-icon.svg" width="20" height="20" alt="message-question" class="mb-1" priority />
                <span class="d-block font-weight-normal text-white text-small">Forum</span>
            </a>
        </li>
    </ul>
</nav>
